html{
	background-color: #000000;
	color:#9B7136; <!-- Text Colour -->
}

nav{
	font-size:24px;
}

.navigation{
	padding-top:5px;
	padding-bottom:10px;
	margin-bottom:30px;
	border-bottom-style:solid;
	border-width:3px;
	border-color:#CBB26A;
}

.navpages:link, .navpages:visited{
	color:#CBB26A;
    background-color:#000000;
    text-align:center;
    text-decoration:none;
    display:inline-block;
	vertical-align:7.5px;
	margin:10px;
}

.navpages:hover, .navpages:active {
    background-color:green;
    color:white;
    text-decoration:nones;
}

.title{
	text-align:center;
	font-size:48px;
	font-style:italic;
	text-shadow: 5px 5px 10px #9B7136;
}
	
.banner{
	float:center;
	border-top-style:solid;
	border-bottom-style:solid;
	border-width:3px;
	border-color:CBB26A;
	margin-bottom:50px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	max-width:100%;
	height:256px;
}

.sales{
	border-style:solid;
	border-width:3px;
	border-color:#CBB26A;
	border-radius:10px;
	padding:50px;
	margin:20px;
	font-size:20px;
}

.socials{
	text-align: center;
	margin-top:30px;
	padding:20px;
	word-spacing:10px;
	border-style:solid;
	border-width:3px;
	border-color:#CBB26A;
}

a{
	text-decoration:none;
}

p{
	font-family:Belleza;
}
