html{
	background-color: #000000;
	color:#9B7136; <!-- Text Colour -->
}

.banner{
	float:center;
	border-style:solid;
	border-width:3px;
	border-color:CBB26A;
	display:block;
	margin-left:auto;
	margin-right:auto;
	width: 960px;
	height: 256px;
}

div{
	border-style:solid;
	border-width:3px;
	border-color:CBB26A;
	border-radius:10px;
	padding:50px;
	margin:20px;
	font-size:20px;
}

a:link{
	color:#CBB26A;
}

a:visited{
	color:#A54545;
}

p{
	font-family:Belleza;
}
