html{
	background-color: #000000;
	color:#9B7136; <!-- Text Colour -->
}

nav{
	padding:0px;
	text-align:center;
	font-size:24px;
	word-spacing:10px;
}

.navigation{
	padding-top:5px;
	padding-bottom:10px;
}

.banner{
	float:center;
	border-style:solid;
	border-width:3px;
	border-color:CBB26A;
	margin-bottom:100px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	width: 960px;
	height: 256px;
}

.sales{
	border-style:solid;
	border-width:3px;
	border-color:CBB26A;
	border-radius:10px;
	padding:50px;
	margin:20px;
	font-size:20px;
}

.socials{
	text-align: center;
	margin-top:20px;
	padding:20px;
	word-spacing:10px;
	border-style:solid;
	border-width:3px;
	border-color:CBB26A;
}

a:link{
	color:#CBB26A;
	text-decoration: none;
}

a:visited{
	color:#A54545;
	text-decoration: none;
}

p{
	font-family:Belleza;
}
